*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-logo{
    height: 60px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box2 */
.address-first{
    color:#CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.address-sec{
    color: white;
    font-size: 1rem;
    margin-left: 2px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.navbar-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 183, 0);
    width: 600px;
    height: 40px;
    border-radius: 4px;
}
.navbar-search:hover{
    border: 2px solid orange;
}
.nav-select{
    border-top-left-radius:  4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border: none;
}
.nav-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}
/* box4 */
span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 25px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel  */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 10px;
}
.panel-ops p:hover{
    border: 2px solid white;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section started */
.hero{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    align-items: end;
    display: flex;
    justify-content: center;
}
.hero-msg{
    height: 40px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}


/* shop-section */
.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}
.box-image{
    background-size: cover;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-content p{
    color:#007185;
}


/* footer content */
footer{
    margin-top: 20px;
}
.footer-panel1{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 25px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.footer-panel3{
    background-color: #222f3d;
    color: white;
    border: 0.25px solid white;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
     background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footer-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 7px;
    padding: 15px;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
}
